@media screen and(max-width: 768px) {
    .content-body {
        padding: 20px 0 !important;
        .row {
            margin: 0 !important;
        }
    }
    .card-body {
        padding: 0 !important;
    }
    .active-slide-img {
        width: 30% !important;
        transition: width 900ms;
    }
    .inactive-slide-img {
        width: 20% !important;
    }
    .active-text {
        color: white;
        font-size: 15px !important;
        margin-top: -50px !important;
    }
    .inactive-text {
        color: rgba(255, 255, 255, 0.548);
        font-size: 12px !important;
        margin-top: -70px;
    }
    .active-slide-project {
        width: 40% !important;
        transition: width 900ms;
        cursor: pointer;
    }
    .inactive-slide-project {
        filter: brightness(0.5);
        transition: filter 2s;
        width: 30% !important;
        cursor: pointer;
    }
    .moon-icon {
        display: block !important;
    }
    .greeting {
        margin-top: 50%;
    }
    .c {
        display: none;
    }
    .nav-link {
        color: white;
        margin-left: 15px;
        margin-top: 20px;
        a:hover {
            color: white !important;
        }
    }
    .nav-link:focus,
    .nav-link:hover {
        color: white !important;
        outline: none !important;
    }
    .team {
        .team-case {
            padding: 0px 10px !important;
        }
        .content-body {
            padding: 20px 25px !important;
        }
        .card-team {
            width: 100% !important;
        }
        .card-body {
            img {
                width: 100% !important;
                height: auto !important;
            }
            h4 {
                font-size: 1rem !important;
            }
            h5 {
                font-size: 0.9rem !important;
            }
        }
    }
    .hizmet {
        .service-case {
            padding: 0px 10px !important;
        }
        .card-body {
            h5 {
                font-size: 0.85rem !important;
            }
        }
    }
    .pricing {
        .card {
            width: 100% !important;
        }
        .card-body {
            padding: 10px 0px !important;
            h5 {
                font-size: 1rem !important;
            }
        }
    }
    .projects {
        .content-body {
            padding: 15px 10px !important;
            max-width: 95% !important;
            color: rgb(0, 0, 0) !important;
        }
        .project-link-case {
            margin-top: -100px !important;
            width: 40% !important;
            cursor: pointer;
        }
    }
    .test-class {
        z-index: 99999;
    }
    .test-class:not(.swiper-slide-active) {
        z-index: 0 !important;
    }
    .contact-page {
        .card-div-img {
            justify-content: center !important;
            img {
                margin-right: 0 !important;
                margin-bottom: 15px;
                width: 45% !important;
            }
        }
        .contact-card {
            height: 350px !important;
            padding: 10px !important;
            .icon {
                width: 20px !important;
            }
            h1 {
                font-size: 25px !important;
            }
            .social-icon {
                margin-right: 10px;
                width: 35px;
            }
        }
        padding-bottom: 30px;
    }
}

.social-icons {
    margin-top: 2rem !important;
}