<div>
    <div class="container">
        <swiper [slidesPerView]="'auto'" [centeredSlides]="true" [spaceBetween]="30" class="mySwiper" [loop]="true" (slideChange)="slideChange($event)"
        [slideToClickedSlide]="true" [speed]="900"
        #swipe>
        <ng-template swiperSlide>
          <img [ngClass]="activeSlide === 0 ? 'active-slide' : 'inactive-slide'"  style="width: 50%;" src="../assets/Group 31.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
          <img [ngClass]="activeSlide === 1 ? 'active-slide' : 'inactive-slide'"  style="width: 50%;" src="../assets/Group 32.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
          <img [ngClass]="activeSlide === 2 ? 'active-slide' : 'inactive-slide'"  style="width: 50%;" src="../assets/Group 33.png" alt="">
      </ng-template>
      <ng-template swiperSlide>
          <img [ngClass]="activeSlide === 3 ? 'active-slide' : 'inactive-slide'"  style="width: 50%;" src="../assets/Group 34.png" alt="">
      </ng-template>
        </swiper>
    </div>
</div>