<mat-drawer #drawer class="sidebar">
    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
        <li class="nav-item" (click)="goToAnchor('contact' , 2 , true)">
            <a class="nav-link" aria-current="page">Hakkımızda</a>
        </li>
        <li class="nav-item" (click)="goToAnchor('slide' , 0 , true)">
            <a class="nav-link" href="#">Hizmetlerimiz</a>
        </li>
        <li class="nav-item" (click)="goToAnchor('slide' , 3 , true)">
            <a class="nav-link" href="#">Projelerimiz</a>
        </li>
        <li class="nav-item" (click)="goToAnchor('slide' , 2 , true)">
            <a class="nav-link" href="#">Fiyatlandırma</a>
        </li>
        <li class="nav-item" (click)="goToAnchor('slide' , 1 , true)">
            <a class="nav-link" href="#">Ekibimiz</a>
        </li>
    </ul>
</mat-drawer>

<!-- Home Page -->
<section class="home">

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="logo">
                <a class="navbar-brand" href="#">The Moon Studio</a>
            </div>
            <div>

                <span class="">
          <img class="moon-icon" style="width: 30px;" mat-raised-button (click)="drawer.toggle()"
            src="../../../assets/img/hamburger.png" alt="">
        </span>

                <div class="c">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item" (click)="goToAnchor('contact' , 2)">
                            <a class="nav-link active" aria-current="page">Hakkımızda</a>
                        </li>
                        <li class="nav-item" (click)="goToAnchor('slide' , 0)">
                            <a class="nav-link" href="#">Hizmetlerimiz</a>
                        </li>
                        <li class="nav-item" (click)="goToAnchor('slide' , 3)">
                            <a class="nav-link" href="#">Projelerimiz</a>
                        </li>
                        <li class="nav-item" (click)="goToAnchor('slide' , 2)">
                            <a class="nav-link" href="#">Fiyatlandırma</a>
                        </li>
                        <li class="nav-item" (click)="goToAnchor('slide' , 1)">
                            <a class="nav-link" href="#">Ekibimiz</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="body">
        <div class="container h-100">
            <div class="greeting">
                <div>
                    <h1 style="color: aliceblue;">The Moon Studio</h1>
                    <div class="press-btn d-flex justify-content-center mt-5">
                        <button class="btn btn-lg btn-outline" (click)="goToAnchor('slide' , 0)">Press Start</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Slide Page -->
<section class="slide-page">

    <div class="pt-5" id="slide">
        <div class="container">
            <swiper [slidesPerView]="'auto'" [centeredSlides]="true" [spaceBetween]="sliderMargin" class="mySwiper" [loop]="true" (slideChange)="slideChange($event)" [slideToClickedSlide]="isDesktopDevice" [speed]="900" #swipe>
                <ng-template swiperSlide>
                    <img [ngClass]="activeSlide === 0 ? 'active-slide-img' : 'inactive-slide-img'" src="../assets/img/Group 31.png" alt="">
                    <h5 [ngClass]="activeSlide === 0 ? 'active-text' : 'inactive-text'">HİZMETLERİMİZ</h5>
                </ng-template>
                <ng-template swiperSlide>
                    <img [ngClass]="activeSlide === 1 ? 'active-slide-img' : 'inactive-slide-img'" src="../assets/img/Group 32.png" alt="">
                    <h5 [ngClass]="activeSlide === 1 ? 'active-text' : 'inactive-text'">EKİBİMİZ</h5>
                </ng-template>
                <ng-template swiperSlide>
                    <img [ngClass]="activeSlide === 2 ? 'active-slide-img' : 'inactive-slide-img'" src="../assets/img/Group 33.png" alt="">
                    <h5 [ngClass]="activeSlide === 2 ? 'active-text' : 'inactive-text'">FİYATLANDIRMA</h5>
                </ng-template>
                <ng-template swiperSlide>
                    <img [ngClass]="activeSlide === 3 ? 'active-slide-img' : 'inactive-slide-img'" src="../assets/img/Group 34.png" alt="">
                    <h5 [ngClass]="activeSlide === 3 ? 'active-text' : 'inactive-text'">PROJELERİMİZ</h5>
                </ng-template>
            </swiper>
        </div>
    </div>

    <div class="body mt-5">

        <!-- Hizmet -->
        <div *ngIf="activeSlide === 0" class="service">
            <div class="container">
                <div class="content d-flex justify-content-center w-100">
                    <div class="service-case">
                        <div class="d-flex justify-content-center w-100">
                            <div class="header d-flex justify-content-center">
                                <span>Size Hizmet Verdiğimiz İçin Çok Şanslıyız!</span>
                            </div>
                        </div>
                        <div class="content-body d-flex justify-content-center">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col-4 col-sm-4">
                                    <div class="card text-center">
                                        <div class="card-body maxwidth-mobile">
                                            <img src="../assets/img/coding 1.png" alt="">
                                            <h5>Web Tasarımı</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img src="../assets/img/laptop 2.png" alt="">
                                            <h5>Web Uygulama</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img src="../assets/img/smartphone (1) 1.png" alt="">
                                            <h5>Mobil Uygulama</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img src="../assets/img/gamepad 1.png" alt="">
                                            <h5>Oyun Geliştirme</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img src="../assets/img/lightbulb 1.png" alt="">
                                            <h5>Yaratıcı Fikirler</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img src="../assets/img/customer-support 1.png" alt="">
                                            <h5>Satış Sonrası Destek</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Team -->
        <div *ngIf="activeSlide === 1" class="team">
            <div class="container">
                <div class="content d-flex justify-content-center w-100">
                    <div class="team-case w-100">
                        <div class="d-flex justify-content-center w-100">
                            <div class="header d-flex justify-content-center">
                                <span>Ekibimiz</span>
                            </div>
                        </div>
                        <div class="content-body content-body-team">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col-4 d-flex-justify-content-center p-0">
                                    <div class="card card-team text-center">
                                        <div class="card-body">
                                            <img src="../assets/img/guliz 1.png" alt="">
                                            <div class="name-title">
                                                <h4>Güliz Ay</h4>
                                                <h5 style="font-weight: 300;">Backend Developer</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex-justify-content-center p-0">
                                    <div class="card card-team text-center">
                                        <div class="card-body">
                                            <img src="../assets/img/gizem 1.png" alt="">
                                            <div class="name-title">
                                                <h4>Gizem Ay</h4>
                                                <h5 style="font-weight: 300;">FrontEnd Developer</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 d-flex-justify-content-center p-0">
                                    <div class="card card-team text-center">
                                        <div class="card-body">
                                            <img src="../assets/img/gizem 1.png" alt="">
                                            <div class="name-title">
                                                <h4>Eda Balcı</h4>
                                                <h5 style="font-weight: 300;">UI/UX Designer</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Pricing -->
        <div *ngIf="activeSlide === 2" class="pricing">
            <div class="container">
                <div class="content d-flex justify-content-center w-100">
                    <div class="w-100">
                        <div class="d-flex justify-content-center w-100">
                            <div class="header d-flex justify-content-center">
                                <span>Fiyatlarımız</span>
                            </div>
                        </div>
                        <div class="content-body">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col d-flex-justify-content-center">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title">EKONOMİK</h5>
                                            <div class="explanation">
                                                <div class="">
                                                    1 Web Site
                                                </div>
                                                <div class="">
                                                    6 Ay Ücretsiz Destek
                                                </div>
                                                <div class="">
                                                    Hazır Template
                                                </div>
                                            </div>
                                            <h2>400 ₺</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex-justify-content-center">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title">E-TİCARET</h5>
                                            <div class="explanation">
                                                <div class="">
                                                    Sınırsız Sayfa
                                                </div>
                                                <div class="">
                                                    12 Ay Ücretsiz Destek
                                                </div>
                                                <div class="">
                                                    Hazır Template
                                                </div>
                                            </div>
                                            <h2>2500 ₺</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="col d-flex-justify-content-center">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <h5 class="card-title">KURUMSAL</h5>
                                            <div class="explanation">
                                                <div class="">
                                                    10 Sayfa
                                                </div>
                                                <div class="">
                                                    9 Ay Ücretsiz Destek
                                                </div>
                                                <div class="">
                                                    Hazır Template
                                                </div>
                                            </div>
                                            <h2>1000 ₺</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Projects -->
        <div *ngIf="activeSlide === 3" class="projects">
            <div class="container">
                <div class="content d-flex justify-content-center w-100">
                    <div>
                        <div class="d-flex justify-content-center w-100">
                            <div class="header d-flex justify-content-center">
                                <span>Projelerimiz</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div class="content-body">
                                <swiper [slidesPerView]="'auto'" [centeredSlides]="false" class="swipeProject" [loop]="true" [pagination]="{clickable: true}" (slideChange)="slideChange($event , 'project')" [spaceBetween]="projectSlideMargin" [slideToClickedSlide]="isDesktopDevice" slideClass="test-class"
                                    [speed]="900" #swipeProject [ngClass]="activeSlideProject === 0 ? 'zIndex' : ''">
                                    <ng-template swiperSlide>
                                        <div>
                                            <div>
                                                <img [ngClass]="activeSlideProject === 0 ? 'active-slide-project' : 'inactive-slide-project'" src="../assets/img/lemodate.png" alt="">
                                            </div>
                                            <div *ngIf="activeSlideProject === 0" class="container project-link-case" (click)="getPage(links[activeSlideProject])">
                                                <button class="link-bg">
                          <h6 class="m-0 p-0 link">
                            Lemodate
                          </h6>
                        </button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template swiperSlide>
                                        <div>
                                            <div>
                                                <img [ngClass]="activeSlideProject === 1 ? 'active-slide-project' : 'inactive-slide-project'" src="../assets/img/gameshop.png" alt="">
                                            </div>
                                            <div *ngIf="activeSlideProject === 1" class="container project-link-case" (click)="getPage(links[activeSlideProject])">
                                                <div class="link-bg">
                                                    <h6 class="m-0 p-0 link">Gameshop</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template swiperSlide>
                                        <div>
                                            <div>
                                                <img [ngClass]="activeSlideProject === 2 ? 'active-slide-project' : 'inactive-slide-project'" src="../assets/img/lotus.png" alt="">
                                            </div>
                                            <div *ngIf="activeSlideProject === 2" class="container project-link-case" (click)="getPage(links[activeSlideProject])">
                                                <div class="link-bg">
                                                    <h6 class="m-0 p-0 link">Lotus</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template swiperSlide>
                                        <div>
                                            <div>
                                                <img [ngClass]="activeSlideProject === 3 ? 'active-slide-project' : 'inactive-slide-project'" src="../assets/img/new_collection.png" alt="">
                                            </div>
                                            <div *ngIf="activeSlideProject === 3" class="container project-link-case" (click)="getPage(links[activeSlideProject])">
                                                <div class="link-bg">
                                                    <h6 class="m-0 p-0 link">NC</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </swiper>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>




    </div>

</section>

<section id="contact" class="contact-page d-flex align-items-center">
    <div class="container h-100 ">
        <div class="d-flex w-100 justify-content-center">
            <div class="w-100 row d-flex align-items-center">
                <div class="col-md-5 card-div-img">
                    <img src="../../../assets/img/contact_img.png" alt="">
                </div>
                <div class="col-md-7 card-div">
                    <div class="contact-card d-flex justify-content-center align-items-center">
                        <div class="w-80 h-100">
                            <h1>Bizimle İletişime Geçin</h1>
                            <div class="phone mt-3 d-flex align-items-center">
                                <div> <img class="icon" src="../../../assets/svg/phone.svg" alt=""></div>
                                <div class="text-contact">+90 (538) 416 37 80</div>
                            </div>
                            <div class="line"></div>
                            <div class="mail mt-3 d-flex align-items-center">
                                <div>
                                    <img class="icon" src="../../../assets/svg/mail.svg" alt="">
                                </div>
                                <div class="text-contact">themoonstudio.company@gmail.com</div>
                            </div>
                            <div class="line"></div>
                            <div class="address mt-3 d-flex align-items-center">
                                <div><img class="icon" src="../../../assets/svg/address.svg" alt=""></div>
                                <div class="text-contact">Üsküdar / İstanbul</div>
                            </div>
                            <div class="line"></div>
                            <div class="d-flex align-items-center justify-content-center social-icons">
                                <img class="social-icon" src="../../../assets/img/instagram.png" alt="">
                                <img class="social-icon" src="../../../assets/img/facebook.png" alt="">
                                <img class="social-icon" src="../../../assets/img/linkedn.png" alt="">
                                <img class="social-icon" src="../../../assets/img/twitter.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>